{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
    <div class="form-group">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'value' : app.user.lastname ~' '~ app.user.firstname}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'value' : app.user.email}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
        </div>

    </div>
    <button class="btn btn-success">Envoyer !
    </button>
    {{ form_end(form) }}
{% endblock %}